[Desktop Entry]
Type=Application
Name=Neptune
Comment=Native GPU terminal
Exec=neptune
Icon=neptune
Terminal=false
Categories=System;TerminalEmulator;
StartupWMClass=rs.neptune.terminal
Keywords=terminal;shell;console;
